* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 650;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url("https://htmlcolorcodes.com/assets/images/colors/steel-gray-color-solid-background-1920x1080.png"); */
  /* background-image: url("https://htmlcolorcodes.com/assets/images/colors/slate-gray-color-solid-background-1920x1080.png"); */
  background-image: url("https://cdn.wallpapersafari.com/15/98/I0tmB4.jpg");
  background-repeat: no-repeat;
  background-color: #0a0a0a;
  background-size: cover;
  min-width: 70vw;
  min-height: 70vh;
  color: #fff;
  user-select: none;
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  gap: 3.5vw;
  width: 100vw;
  height: 8vh;
  background-color: rgba(33, 2, 107, 0.35);
  border-bottom: 1px solid #fff;
}

.link {
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  word-spacing: 5px;
  color: #f8f3f3;
  text-align: center;
  font-size: 1.4rem;
  text-decoration: none;
  line-height: 2.5;
  margin-right: 3vw;
  opacity: 0.7;
}

.link:hover {
  color: rgb(250, 250, 248);
  opacity: 1;
}

.header {
  text-align: center;
  margin-bottom: 4rem;
}

h1 {
  text-shadow: 1.5px 2.75px 3.5px #e91212;
}

p {
  font-size: 1.5rem;
}

.subheader {
  text-align: center;
  margin: 2rem 0 2rem;
}

.home,
.contact,
.about,
.dashboard,
.logout,
.login {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.home {
  margin: 4rem auto;
}

#img {
  width: 75vw;
  height: 60vh;
  opacity: 0.65;
}

form {
  padding: 5rem;
}

.container {
  position: relative;
  width: 51vw;
  height: 50vh;
  margin: auto;
  border: 5px solid #f5f3f3;
  border-style: double;
  background-color: rgba(63, 97, 143, 0.2);
}

.image {
  opacity: 0.15;
  margin: auto;
}

.form-fields {
  position: absolute;
  top: 15vh;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 11fr;
  row-gap: 1.5rem;
  margin-left: 10vw;
}

label {
  font-weight: bold;
  width: 6vw;
}

input {
  width: 18vw;
  height: 5vh;
  border: 2px solid #fff;
  border-radius: 0.45rem;
  background-color: rgba(10, 10, 10, 0.7);
  color: #fff;
  font-weight: bold;
  text-indent: 0.5rem;
}

::placeholder {
  color: #fff;
  letter-spacing: 1.5px;
  word-spacing: 2.8px;
  opacity: 0.6;
  text-indent: 0.5rem;
}

button {
  border-radius: 0.6rem;
  border: 2px solid #3f618f;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 600;
  font-family: inherit;
  background-color: steelblue;
  cursor: pointer;
  transition: background-color 0.4s;
  text-align: center;
  width: 20vw;
  margin: 0 15vw;
  cursor: pointer;
}

button:hover {
  background-color: #000;
  color: #f3f3f3;
  border: 2px solid #fff;
}

#logoutButton {
  margin-bottom: 2rem;
}

.about_container {
  width: 80vw;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid #fff;
  padding: 2rem;
}

.about-text {
  padding: 0 5rem;
  opacity: 0.85;
}
